
/* Custom styles for counter alignment */
.rs-counter-one .rs-counter-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-counter-one .rs-counter-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.rs-counter-one .rs-counter-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(31, 31, 31, 0.16);
  width: 100%;
}
